*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 300;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #1e272e; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

body {
  color: white;
  font-family: 'Exo 2', sans-serif; }

.main-header {
  font-family: 'Bangers';
  font-weight: 700;
  font-size: 5.4rem;
  letter-spacing: 2px;
  color: white; }

.header-secondary {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 3.7rem;
  margin: 0; }

.header-tertiary {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: 3px; }

.header-forth-rate {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  letter-spacing: 2px; }

.arrow-down {
  width: 5.4rem;
  height: 5.4rem;
  color: white;
  font-size: 4rem;
  display: inline-block; }

.jumbotron {
  width: 100%;
  height: 100vh;
  margin-bottom: 4.5rem; }
  .jumbotron__layer {
    background-image: linear-gradient(45deg, #ff3f34, rgba(255, 63, 52, 0.85) 20%, rgba(72, 84, 96, 0) 20% 80%, rgba(255, 63, 52, 0.8) 80%, #ff3f34 100%);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .jumbotron__content {
    height: 100%;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 5.5rem repeat(4, 1fr) 5.5rem;
    grid-template-rows: repeat(4, 1fr) 5.5rem; }
  .jumbotron__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .jumbotron__bg-video__content {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .jumbotron__logo {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .jumbotron__logo-img {
      width: 26rem;
      height: 26rem; }
  .jumbotron__main-header-box {
    grid-column: 4 / 6;
    grid-row: 3 / 5; }
  .jumbotron .arrow-down {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    position: absolute;
    bottom: 0.5rem; }

.info {
  width: 100%;
  display: grid;
  grid-template-areas: ". head head head head ." ". subhead subhead subhead subhead ." ". card1 card2 card3 card4 ." ". sum sum sum sum .";
  grid-template-rows: 8rem repeat(3, min-content);
  grid-template-columns: 7.5rem repeat(4, 1fr) 7.5rem;
  gap: 3.5rem 2.5rem; }
  .info .header-secondary {
    grid-area: head;
    border: 6px solid #ffd32a;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .info .header-secondary span {
      color: #ffd32a; }
  .info__mission {
    grid-area: subhead; }
  .info__card {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.5rem; }
    .info__card--1 {
      grid-area: card1; }
    .info__card--2 {
      grid-area: card2; }
    .info__card--3 {
      grid-area: card3; }
    .info__card--4 {
      grid-area: card4; }
  .info__icon {
    font-size: 7.5rem;
    color: #ffd32a;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem; }
  .info__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: square; }
  .info__item {
    position: relative;
    font-size: 1.5rem;
    line-height: 1;
    width: 100%; }
  .info__item:not(:last-child) {
    margin-bottom: 3rem; }
  .info__item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    border-radius: 25%;
    background-color: #ffd32a; }
  .info__sum {
    grid-area: sum;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
