$red-orange: rgba(255, 63, 52,1.0);
$sizzling-red: rgba(245, 59, 87,1.0);
$sunset-orange: rgba(255, 94, 87,1.0);
$gray-primary: rgba(72, 84, 96, 1.0);
$gray-light: rgba(128, 142, 155, 1.0);
$gray-dark: rgba(30, 39, 46, 1.0);
$yellow-primary: rgba(255, 211, 42,1.0);
$yellow-light: rgba(255, 221, 89,1.0);
$green-primary: rgba(5, 196, 107,1.0);

$grid-nav-col: 7.5rem;

//FONT-SIZES
$biggest: 5.4rem;
$header-secondary: 3.7rem;
$header-tertiary: 2.4rem;
$paragraph: 1.5rem;
$button: 2.1rem;

//PADDINGS&MARGINS
$small: 1.3rem;
$standard: 2.5rem;
$big: 4rem;
$huge: 6.5rem;
$section-break: 12rem; 