.main-header {
    font-family: 'Bangers';
    font-weight: 700;
    font-size: 5.4rem;
    letter-spacing: 2px;
    color: white;
}

.header-secondary {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3.7rem;
    margin: 0;
}

.header-tertiary {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 2px;
}

.header-forth-rate {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    letter-spacing: 2px;
}