.arrow-general {
    width: 5.4rem;
    height: 5.4rem;
    color: white;
    font-size: 4rem;
    display: block;
}

.facebook-icon {
    //color: $facebook;
    font-size: $standard;
    color: $facebook;
}

.tripadvisor-icon {
    font-size: $standard;
    color: $tripadvisor;
}